@import "components/avatar";
@import "components/banner";
@import "components/navbar";
@import "components/cards";
@import "components/buttons";
@import "config/colors";


.white-bg{
  background:rgba(255,255,255, 0.5);
}

.sub-title{
   position: relative;
  display:inline-block;
  top: 50%;
  width:100%;
}

h1{
    background:rgba(237,199,82,0.75);
    width: fit-content;
}

h2{
  z-index: 1;
}

