@import "components/avatar";
@import "components/banner";
@import "components/cards";
@import "config/colors";

.white-bg{
  background:rgba(255,255,255, 0.5);
}

.sub-title{
   position: relative;
  display:inline-block;
  top: 50%;
  width:100%;
}

h1{
    background-color: $yellow;
    width: fit-content;
}

h2{
  z-index: 1;
}

