@import "components/avatar";
@import "components/banners";
@import "components/navbar";
@import "components/cards";
@import "components/buttons";
@import "config/colors";


.white-bg{
  background:rgba(255,255,255, 0.5);
}

.sub-title{
   position: relative;
  display:inline-block;
  top: 50%;
  width:100%;
}


