@import "components/avatar";
@import "components/banners";
@import "components/cards";
@import "components/buttons";
@import "config/colors";

.product-img{
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
  overflow: hidden;
}

ul{
  margin:0;
  padding:0;
}
