.home-banner {
/*   background-image: url('https://images.unsplash.com/photo-1556229010-aa3f7ff66b24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
   */
  background-size: cover;
  height: 100vh;
  color: black;
  text-align: center;
  padding-top: 40vh;
}

.new-banner {
/*   background-image: url('https://images.unsplash.com/photo-1556229010-aa3f7ff66b24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
   */
  background-size: cover;
  height: 75vh;
  color: black;
  text-align: center;
  padding-top: 40vh;
}

