.home-banner {
  background-size: cover;
  color: black;
  text-align: center;
  padding: 40vh 0vh;
  text-align: left;
}

.recipe-banner {
  background-size: cover;
  color: black;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 10vh;
  text-align: left;
}
