.home-banner {
  background-size: cover;
  color: black;
  text-align: center;
  padding: 40vh 0vh;
  text-align: left;
}

.new-banner {
  background-size: cover;
  height: 75vh;
  color: black;
  text-align: center;
  padding-top: 40vh;
}

