// Your CSS partials
@import "components/navbar";


/* set Color */
body {
      background : linear-gradient(132deg, #F9F2FF, #CA9BF9, #9949F2, #3D00CD,#050087
);
      background-size : 400% 400%;
       animation : Gradient 15s ease infinite;
}
