  <div class="home-banner">
    <span id="banner-typed-text" style="font-size: 50px; font-weight:bold; color:white;"></span>
    <br>
  </div>
  <div class="container">
    <div class="row no-gutters">
        <%= render "shared/cards" %>
      </div>
    </div>

